@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Zübeyde Hanım, Hipodrum Cd. 6/34<br />
    06070 Altındağ/Ankara<br /> <br />
</address>

<address>
    <strong>Telefon:</strong>   (0312) 470 52 00 <br />
    <strong>Destek:</strong>   <a href="mailto:destek@ktb.gov.tr">destek@ktb.gov.tr</a><br />
    <strong>E-Posta:</strong> <a href="mailto:btgm@ktb.gov.tr">btgm@ktb.gov.tr</a>
</address>